<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Youlog</title>
</head>

<body>
<th:block layout:fragment="content">
    <div class="hero-header overflow-hidden px-5">
        <div class="rotate-img">
            <img alt="" class="img-fluid w-100" src="/img/sty-1.png">
            <div class="rotate-sty-2"></div>
        </div>
        <div class="row gy-5 align-items-center">
            <div class="col-md-6">
                <form class="card" method="post" th:action="${urls.blog.create}">
                    <div class="card-header">
                        <h3 class="card-title" th:text="#{blog.create}"></h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label required" th:text="#{blog.name}"></label>
                            <div>
                                <input aria-describedby="emailHelp" class="form-control" name="name" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-end">
                        <button class="btn btn-primary" th:text="#{blog.create}" type="submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>