<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/header :: headMeta}"></th:block>
<body>
<th:block th:replace="~{fragments/spinner :: spinner}"></th:block>
<th:block th:replace="~{fragments/nav :: nav}"></th:block>
<th:block layout:fragment="content"></th:block>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/copyright :: copyright}"></th:block>
<th:block th:replace="~{fragments/body_script :: body_script}"></th:block>
</body>
</html>